<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
        <div class="checkout">
            <h1>Checkout</h1>
            <p>You are about to buy:</p>
            <p><img class="item" title="Image of Cover" src="https://i.imgur.com/knxv5oN.jpg" />The PayPal Wars for $<%= price %></p>
            <p>Ship to:</p>

            <div class="addr">
                <p><%= address1 %><br/>
                <%= address2 %><br/>
                <%= postal %><br/>
                <%= country %></p>
            </div>

            <script src="https://www.paypal.com/sdk/js?client-id=AYWiQ7tjgxqA2jEjI2xH7wKz4T39L0hueMdcN7oMhR_PJUEyZo8TIrxUaiewtqr8DW3MzbE4trxos1Xv"></script>

            <div id="paypal-button-container"></div>

            <script>
                paypal.Buttons({
                    createOrder: function(data, actions) {
                    // Set up the transaction
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    currency_code: 'USD',
                                    value: '<%= price %>'
                                }
                            }]
                        });
                    },

                    onApprove: function(data, actions) {
                        // Capture the funds from the transaction
                        actions.order.capture().then(function(details) {
                            //console.log(details);
                            // Call your server to save the transaction
                            fetch('/api/order_complete', {
                                method: 'post',
                                headers: {
                                    'content-type' : 'application/json'
                                },
                                body: JSON.stringify({
                                    orderID: data.orderID,
                                    transactionID: details.purchase_units[0].payments.captures[0].id,
                                    transactionTime: details.create_time
                                })

                            });
                            alert('Transaction completed by ' + details.payer.name.given_name);
                            actions.redirect('/complete');
                        });
                    }
                }).render('#paypal-button-container');
            </script>

        </div>

    </body>
</html>
